button {
  width: 12rem;
  height: 3rem;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

th {
  background-color: black;
  color: white;
}

tr {
  background-color: lightgray;
}

tr:nth-child(even) {
  background-color: white;
}
