h1 {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
}

h2 {
  font-family: 'Baloo Thambi 2', cursive, sans-serif;
  font-style: italic;
}

body {
  font-family: 'Comic Neue', cursive, sans-serif;
  line-height: 1.5rem;
}
